.App{
  text-align: center;
  font-size: 2.1em;
  margin-top: 20%;
}

.App-title {
  font-size: 3em;
}
.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 10px;
}

.deadline-input{
  font-size: 1em;

}
